.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body {
	margin: 2%;
}

.user_info {
	left: 60%;
	position: absolute;
	top: 4%;
	border: 1px balck solid;
	border: 1px solid black;
	padding: 10px;
}

.box_for_text {
	width: 58%;
	border: 1px solid black;
	margin-bottom: 2%;
}

.box_for_text h3 {
	text-align: center;
	margin: 5px;
}
.map {
	height: 60% !important;
	width: 40% !important;
}
.map_button {
	position: relative;
	top: -140px;
	left: 700px;
}
.description {
	width: 600px;
	height: 120px;
	float: right;
}
.descriptionLabel {
	display: block;
	margin: 15px;
	margin-left: 0;
}
.name {
	width: 600px;
	margin-left: 38px;
}
.save_button {
	height: 115px;
	width: 150px;
}
textarea {
	resize: none;
}
.newRouteForm {
	height: 165px;
	width: 707px;
}
.del_button{
	position:absolute
}